*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #000;
   position: relative;

}

button{
    float: right;
    margin-top: 20px;
    padding: 7px 15px;
    border: 1px solid red;
    background-color: red;
    color: #fff;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
   
}
article{
    margin-top: 100px;
}
